<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Airline Planner</title>
    </head>
    <body>
        <h1>Airline Planner</h1>
        <h2>View flights you've scheduled or add a new flight.</h2>
        {% if flights is not empty %}
            <h3>Flights:</h3>
            <ul>
                {% for flight in flights %}
                    <li><a href="/flight/{{ flight.getId }}">From {{


                        ? How do I collect a name in a seperate table using an ID in a join table ?

                    }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}
        <form class="" action="/add/flight" method="post">
            <label for="departure_id">Departure City</label>
            <select class="" name="departure_id">
                {% for flight in flights %}
                <option value="{{ flight.getId }}">{{ flight.getName }}</option>
                {% endfor %}
            </select>
            <label for="arrival_id">Arrival City</label>
            <select class="" name="arrival_id">
                {% for flight in flights %}
                <option value="{{ flight.getId }}">{{ flight.getName }}</option>
                {% endfor %}
            </select>
            <label for="flight_number">Flight Number:</label>
            <input type="text" name="flight_number" value="">
            <label for="status">Status:</label>
            <select class="" name="status">
                <option value="on_time">On-Time</option>
                <option value="delayed">Delayed</option>
                <option value="early">Early</option>
                <option value="cancelled">Cancelled</option>
            </select>
            <label for="departure_date">Departure Date:</label>
            <input type="date" name="departure_date" value="">
            <label for="departure_time">Departure Time:</label>
            <input type="time" name="departure_time" value="">
            <button type="submit">Add Flight</button>
        </form>
    </body>
</html>
